.admin-dashboard-container {
    padding: 2rem;
    min-height: calc(100vh - 122px);
}

.EventAdd {
    padding: 2rem;
    background: linear-gradient(180deg, #282c34, silver);
    border-radius: 8px;
    text-align: center;
    color: #9BF6FF;
    border-style: double;
}

/* .EventAdd h2 {
    font-size:;
} */

.EventAdd h2:hover {
    color: #e6faff;
    cursor: pointer;
}

.EventManage {
    padding: 2rem;
    background: linear-gradient(180deg, #282c34, silver);
    border-radius: 8px;
    text-align: center;
    color: #9BF6FF;
    border-style: double;
}

.EventManage h2:hover {
    color: #e6faff;
    cursor: pointer;
}

.CommandsManage {
    padding: 2rem;
    background: linear-gradient(180deg, #282c34, silver);
    border-radius: 8px;
    text-align: center;
    color: #9BF6FF;
    border-style: double;
}

.CommandsManage h2:hover {
    color: #e6faff;
    cursor: pointer;
}