.footer {
    padding: 1rem 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #282c34;
    color: #fff;
    display: flex;
    width: 100%;
    transform: translateY(80px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    position: relative;
}
.footer.show {
  transform: translateY(0);
  opacity: 1;
}
.footer_bottom {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footerLangCurrency {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footerLang {
  display: flex;
  align-items: center;
  gap: 30px;
  color: rgb(179, 179, 146);
}

.footerLang select {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: silver;
}

.footerCurrency {
  display: flex;
  align-items: center;
  gap: 30px;
  color: rgb(179, 179, 146);
}

.footerCurrency select {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: silver;
}
